.main{
    width: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    font-size: 18px;
    color: #757892;
}



.width{
    width: 320px;
}

input,label{
    color:#757892;
}


.search{
    background-color: #37b796;
    color: white !important;
    height: 45px;
}


